## Include
include COPYING COPYING.lesser NOTICE
recursive-include compiler *.tl *.tsv *.txt

## Exclude
prune pyrogram/api/errors/exceptions
prune pyrogram/api/functions
prune pyrogram/api/types
exclude pyrogram/api/all.py