## Include
include COPYING COPYING.lesser NOTICE requirements.txt requirements_extras.txt
recursive-include compiler *.py *.tl *.tsv *.txt

## Exclude
prune pyrogram/api/errors/exceptions
prune pyrogram/api/functions
prune pyrogram/api/types
exclude pyrogram/api/all.py